:root {
    --myRed: #cb0000;
    --borderRed: #c42323;
    --pureWhite: #ffffff;
    --primaryYellow: #f9b203;
    --secYellow: #fabf09;
    --shadowColor: rgba(0, 0, 0, 0.253);
    --primaryOrange: #e2540c;
    --secondaryOrange: #e86f23;
  }

.importedFooter {
    position: absolute;
}

.logos4contact {
    box-shadow: var(--shadowColor) 2px 2px 2px 2px;
    border-radius: 0.1rem;
    padding: 1px;
}

.logoOne {
    box-shadow: var(--pureWhite) 2px 2px 5px 5px !important;
    border-radius: 1rem;
    padding: 1px;
}

.mySocials {
    list-style-type: none !important;
    display: flex !important;
    justify-content: space-between !important;
    padding: 2% !important;
    background-color: transparent;
    width: 200rem;
}
