* {
    padding: 0;
    margin: 0;
}

:root {
    --myRed: #cb0000;
    --borderRed: #c42323;
    --pureWhite: #ffffff;
  }

.aboutMainDiv {
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-image: url('../assets/aboutNewBG.png');
    background-size: 1440px 800px;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden !important;
}

.aboutMeParagraphContainer {
    margin-top: 14rem;
    height: 62rem !important;
}

.aboutSubMain2 {
    text-align: center;
    width: auto;
    height: 36rem !important;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 5px 10px 5px 10px var(--myRed);
    color: var(--myRed) !important;
    border-radius: 1rem;
    margin-top: 8rem;
}

.welcomeToMyPortal {
    font-weight: 800;
    font-style: italic;
    font-variant: small-caps;
    font-size: 24px;
}

.typedUp {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: auto;
}

.myMiniIntro {
    font-size: medium;
    font-weight: 800;
    font-style: italic;
    font-variant: small-caps;
}

.picOfMe2 {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    border-radius: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.aboutmepara2 {
    margin-top: 0.8rem;
    font-weight: 800;
    font-style: italic;
    font-variant: small-caps;
    font-size: 18px;
    text-align: start;
}

.aboutmepara2:hover {
    color: var(--pureWhite) !important;
}


@media (max-width: 300px)  {

    .aboutMainDiv {
        background-size: 1840px 1800px;
    }

    .picOfMe2 {
        width: 200px !important;
        height: 150px !important;
    }

    .aboutSubMain2 {
        height: 32rem;
        box-shadow: 3px 5px 3px 5px var(--myRed); 
    }
}

@media (min-width: 301px) and (max-height: 700px) {

    .aboutMainDiv {
        background-size: 1840px 1800px;
    }

    .picOfMe2 {
        width: 235px !important;
        height: 200px !important;
    }

    .aboutSubMain2 {
        height: 28rem;
        box-shadow: 3px 5px 3px 5px var(--myRed); 
    }
}

@media (max-width: 600px) and (min-height: 701px) {

    .aboutMainDiv {
        background-size: 1840px 1450px;
    }

    .picOfMe2 {
        width: 285px !important;
        height: 190px;
    }

    .aboutSubMain2 {
        height: 38rem;
        box-shadow: 3px 5px 3px 5px var(--myRed);  
    }
}


@media (min-width: 568px) and (max-height: 414px) {

    .aboutMainDiv {
        background-size: 1840px 1450px;
    }

    .picOfMe2 {
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
        width: 60%;
    }

    .aboutSubMain2 {
        margin-top: 1.5rem !important;
        height: 16rem !important;
        box-shadow: 3px 5px 3px 5px var(--myRed) !important;  
    }
}

@media (min-width: 601px) and (min-height: 701px) {
    .aboutMainDiv {
        background-size: cover;
    }

    .aboutSubMain2 {
        box-shadow: 5px 10px 5px 10px var(--myRed);  
    }

    .aboutSubMain2 {
        text-align: center;
        width: auto;
        height: 34rem;
    }

    .picOfMe2 {
        width: 350px !important;
        display: block;
    }
}

@media (min-width: 1500px) {
    .aboutSubMain2 {
        text-align: center;
        width: auto;
        height: 44rem;
    }

    .picOfMe2 {
        width: 650px !important;
        display: block;
    }
}


@media (min-width: 2100px) {
    .aboutSubMain2 {
        text-align: center;
        width: auto;
        height: 48rem;
    }

    .picOfMe2 {
        width: 650px !important;
        display: block;
    }
}
