* {
    padding: 0;
    margin: 0;
}

.AboutMain {
    height: 100vh;
    display: grid;
    background-color: #f9b203;
    z-index: 1;
}

.navInAbout {
    float: right;
    float: right;
    height: 40% ;
    margin-left: 45rem;
    margin-top: 1.5rem
}

.divForExtras {
    z-index: 100;
    display: flex;
    margin-top: 1rem;
    margin-left: 48rem;
}

.aboutParaDiv {
    z-index: 100;
    color: #ffffff;
    flex-wrap: wrap;
    width: 35rem;
}

.aboutmepara { 
    font-weight: 800;
    font-style: italic;
    font-variant: small-caps;
    font-size: 1.2rem;
    width: 95%;
    z-index: 100;
    color: #ffffff;
}

.aboutSec {
    color: #ffffff ;
    position:absolute;
    z-index: 100;
    left: 3%;
    top: 10%;
}

.aboutInfoHead {
    color: #ffffff;
    text-decoration: line-through #cb0000;
    font-size: 60px;
    font-weight: bolder;
    margin-top: 2rem;
}

.aboutInfoHead:hover {
    color: #cb0000;
    text-decoration: line-through #ffffff;
}

.typingComp {
    color: #cb0000;
    color: #ffffff ;
    position:absolute;
    z-index: 100;
    left: 3%;
    top: 30;
    height: 5rem;
    font-variant: small-caps;
    margin-top: 3rem;
}

.miniBio {
    color: #cb0000;
}


.div4pic {
    margin-top: 12rem;
}

.picOfMe {
    border-radius: 2rem;
}


.navInAbout {
    display: flex;
    float: right;
    height: 40% ;
}

.world {
    color: whitesmoke;
    font-size: 30px;
    font-weight: 700px;
}

.commentSection {
    position:absolute;
    z-index:100;
}