/* * {
    padding: 0;
    margin: 0;
}

.majorDiv {
    background-image: url('../assets/officialLanding.png');
    background-size: 1800px 900px;
    background-color: #f9b203;
    width: 100%;
    height: 100vh;
}

.landingMain {
    width: 100%;
    height: 100vh;
    display: flex;
}

.landingBio {
    color: #ffffff;
    margin-left: 60%;
    margin-top: 9rem;
    justify-content: center;
    height: 20rem;
    width: 15rem;
}

.typeingAni {
    height: 20rem;
    width: 15rem;
}


.landingInfoHead{
    font-size: 70px;
    font-weight: bolder;
}

.enterWorldBtn {
    background-color: #cb0000;
    display: block;
    width: 40%;
    border-radius: 5px;
    outline: none;
    border: none;
    background-image: linear-gradient(to left, #ffffff, #F18E7C, #cb0000);
    background-size: 200%;
    font-size: 1.2rem;
    font-weight: 900;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 2rem 0;
    cursor: pointer;
    transition: .5s;
    height: 35px;
    margin-left: 0.5rem;
}


.enterContactBtn {
    background-color: #cb0000;
    display: block;
    width: 40%;
    border-radius: 5px;
    outline: none;
    border: none;
    background-image: linear-gradient(to left, #ffffff, #F18E7C, #cb0000);
    background-size: 200%;
    font-size: 1.2rem;
    font-weight: 900;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 2rem 0;
    cursor: pointer;
    transition: .5s;
    height: 35px;
    margin-left: 2rem;
}


.enterWorldBtn:hover {
    background-position: right;
    color: #cb0000;
   
  }

.enterContactBtn:hover {
    background-position: right;
    color: #cb0000;
}

.btn-div {
    display: flex;
    margin-top: 0.3rem;
  }

.logos4contact {
    width: 40px;
    height: 40px;
}

.socialOptionUL {
    list-style-type: none;
}

.socialOptionUL {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: flex-end;
    list-style-type: none;
    margin-left: 40rem;
}

.footerDiv4Landing {
    width: 30%;
    height: 10%;
    position: absolute;
    bottom: 0; 
    width: 100%;
} */

/* ----------------------------- MOBILE RESPONSIVENESS ------------------------------ */
/* lowest width to highest width */

  /* <!------------------------------- SURFACE DUO --------------------------------> */
/* @media (width: 450px) and (height:600px) {
    .majorDiv {
        background-size: 1400px 700px !important;
        overflow: hidden !important;
    }
    
    .landingBio {
        margin-left: 15rem !important;
        margin-top: 2rem !important;
        justify-content: center !important;
        height: 8rem !important;
        width: 12rem !important;
    }
    
    .typeingAni {
        height: 4rem !important;
        width: 16rem !important;
        margin-left: -1rem !important;
    }
    
    .landingInfoHead{
        font-size: 34px !important;
    }

    .landingInfoSub {
        font-size: 20px !important;
    }

    .btn-div {
        margin-left: 1.2rem !important;
        margin-top: 1rem !important;
    }
    
    .enterWorldBtn {
        background-image: linear-gradient(to left, #ffffff, #959392, #000000) !important;
        background-size: 200% !important;
        margin: 1rem 0 !important;
        margin-left: 1rem !important;
    }
    
    .enterContactBtn {
        background-image: linear-gradient(to left, #ffffff, #959392, #000000) !important;
        background-size: 200% !important;
        margin: 2rem 1rem !important;
        width: 2rem !important;
    }
  } */

/* ---------------------------------GALAXY FOLD Responsiveness--------------------------------*/
/* @media (max-width: 280px) {
    * {
        padding: 0;
        margin: 0;
    }
    
    .majorDiv {
        background-repeat: no-repeat !important;
        background-size: 1000px 700px;
        overflow: hidden !important;
    }
    
    .landingBio {
        margin-left: 5% !important;
        margin-top: 2rem !important;
        justify-content: center !important;
        height: 20rem !important;
        width: 15rem !important;
    }
    
    .typeingAni {
        height: 20rem !important;
        width: 15rem !important;
    }
    
    
    .landingInfoHead{
        font-size: 44px !important;
    }

    .landingInfoSub {
        font-size: 30px !important;
    }

    .btn-div {
        margin-left: -0.2rem !important;
        margin-top: 55% !important;
    }
    
    .enterWorldBtn {
        background-image: linear-gradient(to left, #ffffff, #959392, #000000) !important;
        background-size: 200% !important;
        margin: 2rem 0 !important;
        margin-left: 0.5rem !important;
    }
    
    
    .enterContactBtn {
        background-image: linear-gradient(to left, #ffffff, #959392, #000000) !important;
        background-size: 200% !important;
        margin: 2rem 5rem !important;
    }
    
  }  */
    
/* ------------------------------------ iphone 5/SE 320 by 568 --------------------------------------- */
/* @media (min-width: 320px) and (max-height: 580px) {
    * {
        padding: 0;
        margin: 0;
    }
    
    .majorDiv {
        background-repeat: no-repeat !important;
        background-size: 1000px 700px;
        overflow: hidden !important;
    }
    
    .landingBio {
        margin-left: 5% !important;
        margin-top: 2rem !important;
        justify-content: center !important;
        height: 20rem !important;
        width: 15rem !important;
    }
    
    .typeingAni {
        height: 20rem !important;
        width: 16rem !important;
    }
    
    .landingInfoHead{
        font-size: 44px !important;
    }

    .btn-div {
        margin-left: -0.5rem !important;
        margin-top: 55% !important;
    }
    
    .enterWorldBtn {
        background-image: linear-gradient(to left, #ffffff, #959392, #000000) !important;
        background-size: 200% !important;
        margin: 2rem 0 !important;
        margin-left: 1.5rem !important;
    }
    
    .enterContactBtn {
        background-image: linear-gradient(to left, #ffffff, #959392, #000000) !important;
        background-size: 200% !important;
        margin: 2rem 6rem !important;
    }
} */

/* -------------------------------------------glaxay s5 / moto g4 360 by 640 -------------------------------------------------- */
/* @media (min-width: 360px) and (max-height: 650px) {
    * {
        padding: 0;
        margin: 0;
    }
    
    .majorDiv {
        background-repeat: no-repeat !important;
        background-size: 1000px 700px;
        overflow: hidden !important;
    }
    
    .landingBio {
        margin-left: 5% !important;
        margin-top: 2rem !important;
        justify-content: center !important;
        height: 20rem !important;
        width: 15rem !important;
    }
    
    .typeingAni {
        height: 20rem !important;
        width: 16rem !important;
    }
    
    .landingInfoHead{
        font-size: 48px !important;
    }

    .landingInfoSub {
        font-size: 28px !important;
    }

    .btn-div {
        margin-left: 0.5rem !important;
        margin-top: 65% !important;
    }
    
    .enterWorldBtn {
        background-image: linear-gradient(to left, #ffffff, #959392, #000000) !important;
        background-size: 200% !important;
        margin: 2rem 0 !important;
        margin-left: 1.5rem !important;
    }
    
    .enterContactBtn {
        background-image: linear-gradient(to left, #ffffff, #959392, #000000) !important;
        background-size: 200% !important;
        margin: 2rem 7rem !important;
    }
} */


/* -------------------------------------------iphoneX 375 by 812 /// 6, 7, 8-------------------------------------------------- */
/* @media (min-width: 375px) and (max-height: 815px) {
    * {
        padding: 0;
        margin: 0;
    }
    
    .majorDiv {
        background-repeat: no-repeat !important;
        background-size: 1200px 900px;
    }
    
    .landingBio {
        margin-left: 5% !important;
        margin-top: 3rem !important;
        justify-content: center !important;
        height: 20rem !important;
        width: 15rem !important;
    }
    
    .typeingAni {
        height: 20rem !important;
        width: 16rem !important;
    }
    
    .landingInfoHead{
        font-size: 48px !important;
    }

    .landingInfoSub {
        font-size: 30px !important;
    }

    .btn-div {
        margin-left: 0.5rem !important;
        margin-top: 12rem !important;
    }
    
    .enterWorldBtn {
        background-image: linear-gradient(to left, #ffffff, #959392, #000000) !important;
        background-size: 200% !important;
        margin: 2rem 0 !important;
        margin-left: 1.5rem !important;
    }
    
    .enterContactBtn {
        background-image: linear-gradient(to left, #ffffff, #959392, #000000) !important;
        background-size: 200% !important;
        margin: 2rem 7rem !important;
    }
} */


/* ---------------------iphoneX 6/7/8 PLUS [414 by 736] + PIXEL2[411 by 731]  + PIXEL2XL [411 by 823]---------------------- */
/* @media (min-width: 400px) and (max-height: 830px) {
    * {
        padding: 0;
        margin: 0;
    }
    
    .majorDiv {
        background-repeat: no-repeat !important;
        background-size: 1200px 900px;
    }
    
    .landingBio {
        margin-left: 5% !important;
        margin-top: 4rem !important;
        justify-content: center !important;
        height: 20rem !important;
        width: 15rem !important;
    }
    
    .typeingAni {
        height: 20rem !important;
        width: 16rem !important;
    }
    
    .landingInfoHead{
        font-size: 48px !important;
    }

    .landingInfoSub {
        font-size: 30px !important;
    }

    .btn-div {
        margin-left: 1.2rem !important;
        margin-top: 15rem !important;
    }
    
    .enterWorldBtn {
        background-image: linear-gradient(to left, #ffffff, #959392, #000000) !important;
        background-size: 200% !important;
        margin: 2rem 0 !important;
        margin-left: 1.5rem !important;
    }
    
    .enterContactBtn {
        background-image: linear-gradient(to left, #ffffff, #959392, #000000) !important;
        background-size: 200% !important;
        margin: 2rem 7rem !important;
        width: 12rem !important;
    }
} */


/* ------------------------------------------------------ iPad ----------------------------------------- */
/* @media (min-width: 768px) and (min-height: 1024px) {

    * {
        padding: 0;
        margin: 0;
    }
    
    .majorDiv {
        background-repeat: no-repeat !important;
        background-size: 1600px 1200px;
        overflow: hidden !important;
    }

    .landingBio {
        margin-left: 22rem !important;
        margin-top: 4rem !important;
        justify-content: center !important;
        height: 20rem !important;
        width: 15rem !important;
    }

    .landingInfoSub {
        font-size: 32px !important;
        width: 20rem !important;
    }

    .btn-div {
        margin-left: -16rem !important;
        margin-top: 28rem !important;
        width: 50rem !important;
    }

    .enterWorldBtn {
        background-image: linear-gradient(to left, #ffffff, #959392, #000000) !important;
        background-size: 200% !important;
        margin: 2rem 6rem !important;
        margin-left: 1.5rem !important;
    }
    
    .enterContactBtn {
        background-image: linear-gradient(to left, #ffffff, #959392, #000000) !important;
        background-size: 200% !important;
        margin: 2rem 14rem !important;
    }
} */



 /* ----------------------------------------- IPAD LANDSCAPE VIEW- Responsiveness ----------------------*/
 /* @media (min-width: 1024px) and (max-height: 850px) {
    .majorDiv {
        background-size: 1800px 900px !important;
    }
    
    .landingBio {
        color: #ffffff;
        margin-left: 37.5rem !important;
        margin-top: 6rem !important;
        height: 18rem !important;
    }
    
     
    .landingInfoHead{
        font-size: 70px !important;
    }

    .btn-div {
        margin-top: 3rem !important;
        margin-left: 2rem !important;
      }
    
    .enterWorldBtn {
        background-color: #cb0000 !important;
        width: 26rem !important;
        background-image: linear-gradient(to left, #ffffff, #F18E7C, #cb0000) !important;
        font-size: 1.4rem !important;
        margin: 2rem 2rem !important;
        margin-left: -0.5rem !important;
    }
    
    
    .enterContactBtn {
        background-color: #cb0000 !important;
        width: 26rem !important;
        background-image: linear-gradient(to left, #ffffff, #F18E7C, #cb0000) !important;
        font-size: 1.4rem !important;
        margin: 2rem 8rem !important;
        margin-left: 2rem;
    } 
} */

/* ------------------------------------------iPad PRO RESPONSIVENESS REG LAYOUT 1366 height---------------------- */
/* @media (min-width: 1024px) and (min-height: 1365px) {
    * {
        padding: 0;
        margin: 0;
    }
    
    .majorDiv {
        background-repeat: no-repeat !important;
        background-size: 2200px 1500px;
        overflow: hidden !important;
    }

    .landingBio {
        margin-left: 38rem !important;
        margin-top: 10rem !important;
        justify-content: center !important;
        height: 20rem !important;
        width: 15rem !important;
    }

    .landingInfoSub {
        font-size: 32px !important;
        width: 20rem !important;
    }

    .btn-div {
        margin-left: -26rem !important;
        margin-top: 40rem !important;
        width: 50rem !important;
    }

    .enterWorldBtn {
        background-image: linear-gradient(to left, #ffffff, #959392, #000000) !important;
        background-size: 200% !important;
        margin: 2rem 6rem !important;
        margin-left: 1.5rem !important;
    }
    
    .enterContactBtn {
        background-image: linear-gradient(to left, #ffffff, #959392, #000000) !important;
        background-size: 200% !important;
        margin: 2rem 14rem !important;
    }
} */

/* ---------------------------------------------- MacBookAir Responsiveness1 1280 by 800 ----------------------------------*/
/* @media (min-width: 1280px) and (max-height: 801px) {
    .majorDiv {
        background-size: 2000px 1000px !important;
        background-repeat: no-repeat !important;
    }
    
    .landingBio {
        color: #ffffff;
        margin-left: 48rem !important;
        margin-top: 10rem !important;
        height: 18rem !important;
    }
    
    .landingInfoHead{
        font-size: 70px !important;
    }

    .btn-div {
        margin-top: 3rem !important;
        margin-left: 2rem !important;
      }
    
      .enterWorldBtn {
        background-color: #cb0000 !important;
        width: 15rem !important;
        background-image: linear-gradient(to left, #ffffff, #F18E7C, #cb0000) !important;
        font-size: 1.3rem !important;
        margin: 2rem 8rem !important;
        margin-left: -0.5rem !important;
        padding: 0.5rem !important;
        height: 2.5rem !important;
    }
    
    
    .enterContactBtn {
        background-color: #cb0000 !important;
        width: 10rem !important;
        background-image: linear-gradient(to left, #ffffff, #F18E7C, #cb0000) !important;
        font-size: 1.3rem !important;
        margin: 2rem 6rem !important;
        margin-left: 2rem;
        padding: 0.5rem !important;
        height: 2.5rem !important;
    }

} */

/* ---------------------------------------DESKTOP TOUCH WITH 950 HEIGHT Responsiveness ----------------------*/
/* @media (min-width: 1280px) and (min-height: 940px) {
    .majorDiv {
        background-size: 2200px 1200px !important;
        background-repeat: no-repeat !important;
    }
    
    .landingBio {
        color: #ffffff;
        margin-left: 48rem !important;
        margin-top: 10rem !important;
        height: 18rem !important;
    }
    
    .landingInfoHead{
        font-size: 70px !important;
    }

    .btn-div {
        margin-top: 3rem !important;
        margin-left: 2rem !important;
      }
    
      .enterWorldBtn {
        background-color: #cb0000 !important;
        width: 15rem !important;
        background-image: linear-gradient(to left, #ffffff, #F18E7C, #cb0000) !important;
        font-size: 1.3rem !important;
        margin: 2rem 8rem !important;
        margin-left: -0.5rem !important;
        padding: 0.5rem !important;
        height: 2.5rem !important;
    }
    
    
    .enterContactBtn {
        background-color: #cb0000 !important;
        width: 10rem !important;
        background-image: linear-gradient(to left, #ffffff, #F18E7C, #cb0000) !important;
        font-size: 1.3rem !important;
        margin: 2rem 6rem !important;
        margin-left: 2rem;
        padding: 0.5rem !important;
        height: 2.5rem !important;
    }
} */

/* ------------------------------------------iPad PRO RESPONSIVENESS LANDSCAPE LAYOUT 1024 height---------------------- */
/* @media (min-width: 1365px) and (min-height: 1023px) {
    .majorDiv {
        background-size: 1900px 1100px !important;
    }
    
    .landingBio {
        color: #ffffff;
        margin-left: 48rem !important;
        margin-top: 6rem !important;
        height: 18rem !important;
    }
    
    .landingInfoHead{
        font-size: 70px !important;
    }

    .btn-div {
        margin-top: 8rem !important;
        margin-left: 2rem !important;
      }
    
    .enterWorldBtn {
        background-color: #cb0000 !important;
        width: 10rem !important;
        background-image: linear-gradient(to left, #ffffff, #F18E7C, #cb0000) !important;
        font-size: 1.4rem !important;
        margin: 2rem 2rem !important;
        margin-left: -0.5rem !important;
    }
    
    
    .enterContactBtn {
        background-color: #cb0000 !important;
        width: 10rem !important;
        background-image: linear-gradient(to left, #ffffff, #F18E7C, #cb0000) !important;
        font-size: 1.4rem !important;
        margin: 2rem 8rem !important;
        margin-left: 2rem;
    } 
} */

/* ---------------------------------------------- MacBookAir ResponsivenessMYMAC REGULAR----------------------------------*/
/* @media (min-width: 1440px) and (max-height: 740px) {
    .majorDiv {
        background-size: 1600px 900px !important;
    }
    
    .landingBio {
        color: #ffffff;
        margin-left: 48rem !important;
        margin-top: 6rem !important;
        height: 18rem !important;
    }
    
     
    .landingInfoHead{
        font-size: 70px !important;
    }

    .btn-div {
        margin-top: 4rem !important;
        margin-left: 2rem !important;
      }
    
    .enterWorldBtn {
        background-color: #cb0000 !important;
        width: 15rem !important;
        background-image: linear-gradient(to left, #ffffff, #F18E7C, #cb0000) !important;
        font-size: 1.3rem !important;
        margin: 2rem 8rem !important;
        margin-left: -0.5rem !important;
        padding: 0.5rem !important;
        height: 2.5rem !important;
    }
    
    .enterContactBtn {
        background-color: #cb0000 !important;
        width: 10rem !important;
        background-image: linear-gradient(to left, #ffffff, #F18E7C, #cb0000) !important;
        font-size: 1.3rem !important;
        margin: 2rem 8rem !important;
        margin-left: 2rem;
        padding: 0.5rem !important;
        height: 2.5rem !important;
    }  
} */

/* ---------------------------------------------- MacBookAir ResponsivenessMYMAC EXPANDED----------------------------------*/
/* @media (min-width: 1440px) and (min-height: 750px) {
    .majorDiv {
        background-size: 1800px 900px !important;
    }
    
    .landingBio {
        color: #ffffff;
        margin-left: 48rem !important;
        margin-top: 6rem !important;
        height: 18rem !important;
    }
    
     
    .landingInfoHead{
        font-size: 70px !important;
    }

    .btn-div {
        margin-top: 4rem !important;
        margin-left: 2rem !important;
      }
    
    .enterWorldBtn {
        background-color: #cb0000 !important;
        width: 15rem !important;
        background-image: linear-gradient(to left, #ffffff, #F18E7C, #cb0000) !important;
        font-size: 1.3rem !important;
        margin: 2rem 8rem !important;
        margin-left: -0.5rem !important;
        padding: 0.5rem !important;
        height: 2.5rem !important;
    }
    
    .enterContactBtn {
        background-color: #cb0000 !important;
        width: 10rem !important;
        background-image: linear-gradient(to left, #ffffff, #F18E7C, #cb0000) !important;
        font-size: 1.3rem !important;
        margin: 2rem 8rem !important;
        margin-left: 2rem;
        padding: 0.5rem !important;
        height: 2.5rem !important;
    }
} */

/* ---------------------------------------------------DESKTOP WITH HIGHDPI Responsiveness 1440 by 900--------------------------------------------------*/
/* @media (min-width: 1440px) and (min-height: 800px) {
    .majorDiv {
        background-size: 2200px 1200px !important;
    }
    
    .landingBio {
        color: #ffffff;
        margin-left: 52rem !important;
        margin-top: 10rem !important;
        height: 18rem !important;
    }
    
     
    .landingInfoHead{
        font-size: 70px !important;
    }

    .btn-div {
        margin-top: 4rem !important;
        margin-left: 2rem !important;
      }
    
      .enterWorldBtn {
        background-color: #cb0000 !important;
        width: 15rem !important;
        background-image: linear-gradient(to left, #ffffff, #F18E7C, #cb0000) !important;
        font-size: 1.3rem !important;
        margin: 2rem 8rem !important;
        margin-left: -0.5rem !important;
        padding: 0.5rem !important;
        height: 2.5rem !important;
    }
    
    
    .enterContactBtn {
        background-color: #cb0000 !important;
        width: 10rem !important;
        background-image: linear-gradient(to left, #ffffff, #F18E7C, #cb0000) !important;
        font-size: 1.3rem !important;
        margin: 2rem 6rem !important;
        margin-left: 2rem;
        padding: 0.5rem !important;
        height: 2.5rem !important;
    }
} */