* {
    padding: 0;
    margin: 0;
}

.ProjectMain {
    background-image: url('../assets/ProjectsBG4.png');
    background-size: 100%;
    background-color: #f9b203;
    height: 100vh;
    display: grid;
    overflow: hidden;
}

.navInProjects  {
    float: right;
    height: 40% ;
    margin-left: 45rem;
    margin-top: 1.5rem
}

.styleProj {
    color: #cb0000;
    margin-left: 3rem;
    margin-top: 3%;
    font-style: italic;
    position: static;
}

.styleProj:hover {
    text-decoration: line-through #ffffff;
}

.allProjects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 3rem;
    margin-left: 16rem;
    padding-top: 2.4%;
    position: sticky;
}

.appScreenshots {
    border-radius: 1.5rem;
}

.appScreenshots:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253)!important;
    transition:transform 1.5s ease;
    transform: scale(1.2);
    flex-grow: 1;   
}

.projectName {
    align-content: center;
    text-align: center;
}

.projectName.top {
    color: #cb0000; 
    margin-top: 7%;
}

.projectName.top:hover {
    text-decoration: line-through #ffffff;
}

.codeDiv {
    align-content: center;
    text-align: center;
    justify-content: space-between;
    padding: 2%;
}

.appLink {
    color: #cb0000;
    text-decoration: none;
    font-variant: small-caps;
    font-weight: 700;
}

.appLink:hover {
    text-decoration: line-through #ffffff;
    color: #cb0000;
}

.checkOutTheCode {
    align-content: center;
    text-align: center;
    color: #cb0000;
    text-decoration: none;
    font-variant: small-caps;
    font-weight: 700;
}

.checkOutTheCode:hover {
    text-decoration: line-through #ffffff;
    color: #cb0000;
}

.bioForTheProject {
    overflow-wrap: break-word;
    width: 21.8rem;
    color: #ffffff;
    font-variant: small-caps;
    font-weight: 700;
    font-size: 17px;
}

.bioForTheProject:hover {
    color: #cb0000;
}

.whatsNext {
    overflow-wrap: break-word;
    width: 21.8rem;
    padding-top: 1.5%;
    color: transparent;
    text-decoration: line-through #cb0000;
    font-variant: small-caps;
    font-weight: 700; 
}

.whatsNext:hover {
    color: #ffffff;
    text-decoration: none;
}

/* ---------------------------------GALAXY FOLD Responsiveness--------------------------------*/
@media (max-width: 280px) {
    .ProjectMain {
        background-repeat: no-repeat;
        background-size: 1100px 1100px !important;
        overflow-x: hidden !important;
        overflow-y: scroll !important;
    }
    
    .navInProjects  {
        margin-left: 14rem !important;
        margin-top: .5rem !important;
        position: absolute !important;
    }
    
    .styleProj {
        margin-left: 3rem !important;
        margin-top: 5rem !important;
        margin-bottom: 2rem !important;
        width: 10rem !important;
    }
    
    .allProjects {
        margin-left: 0.9rem !important;
        grid-gap: 3.5rem !important;
    }
    
    .appScreenshots {
        border-radius: 1rem !important;
        width: 250px !important;
        height: 200px !important;
    }
    
    .bioForTheProject {
        width: 16rem !important;
        font-size: 22px !important;
    }
    
    .whatsNext {
        width: 16rem !important;
        font-size: 20px !important;
    }
}

/* ------------------------------------ iphoneX 5/SE 320 by 568 --------------------------------------- */
@media (min-width: 320px) and (max-height: 580px) {
    .ProjectMain {
        background-repeat: no-repeat !important;
        background-size: 1100px 900px !important;
        overflow-x: hidden !important;
        overflow-y: scroll !important;
    }
    
    .navInProjects  {
        margin-left: 16.5rem !important;
        margin-top: .5rem !important;
        position: absolute !important;
    }
    
    .styleProj {
        margin-left: 4rem !important;
        margin-top: 5rem !important;
        margin-bottom: 2rem !important;
        width: 10rem !important;
    }

    .projectsSec {
        overflow-y: scroll !important;
        overflow-x: hidden !important;
        height: 22rem !important;
        margin-top: -1rem;
        width: 24rem !important;
    }
    
    .allProjects {
        margin-left: 0.6rem !important;
        grid-gap: 3.5rem !important;
    }
    
    .appScreenshots {
        border-radius: 1rem !important;
        width: 300px !important;
        height: 250px !important;
    }
    
    .bioForTheProject {
        width: 19rem !important;
        font-size: 24px !important;
    }
    
    .whatsNext {
        width: 19rem !important;
        font-size: 22px !important;
    }
   
}

/* -------------------------------------------glaxay s5 / moto g4 360 by 640 -------------------------------------------------- */
@media (min-width: 360px) and (max-height: 650px) {
    .ProjectMain {
        background-repeat: no-repeat;
        background-size: 1100px 1100px !important;
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }
    
    .navInProjects  {
        margin-left: 18.99rem !important;
        margin-top: .5rem !important;
        position: absolute !important;
    }
    
    .styleProj {
        margin-left: 2.5rem !important;
        margin-top: 5rem !important;
        margin-bottom: 2rem !important;
        width: 20rem !important;
    }

    .projectsSec {
        overflow-y: scroll !important;
        overflow-x: hidden !important;
        height: 22rem !important;
        margin-top: -1rem;
        width: 24rem !important;
    }

    .projectDiv {
        justify-content: center !important;
    }

    .allProjects {
        margin-left: 0.9rem !important;
        grid-gap: 3rem !important;
    }
    
    .appScreenshots {
        border-radius: 1rem !important;
        width: 330px !important;
        height: 250px !important;
    }

    .bioForTheProject {
        font-size: 24px !important;
        width: 21rem !important;
    }

    .codeDiv {
        width: 20rem !important
    }
    
    .whatsNext {
        font-size: 22px !important;
    }
}

/* -------------------------------------------iphone/// 6, 7, 8-------------------------------------------------- */
@media (min-width: 375px) and (max-height: 667px) {
    * {
        padding: 0;
        margin: 0;
    }

    .ProjectMain {
        background-repeat: no-repeat !important;
        background-size: 1100px 1300px !important;
        overflow-x: hidden !important;
        overflow-y: scroll !important;
    }
    
    .navInProjects  {
        margin-left: 20rem !important;
        margin-top: .5rem !important;
        position: absolute !important;
    }
    
    .styleProj {
        margin-left: 2.5rem !important;
        margin-top: 5rem !important;
        margin-bottom: 2rem !important;
        width: 20rem !important;
    }

    .projectsSec {
        overflow-y: scroll !important;
        overflow-x: hidden !important;
        height: 30rem !important;
        margin-top: -4rem;
        width: 24rem !important;

    }

    .projectDiv {
        justify-content: center !important;
    }

    .allProjects {
        margin-left: 1.5rem !important;
        grid-gap: 3.5rem !important;
    }
    
    .appScreenshots {
        border-radius: 1rem !important;
        width: 330px !important;
        height: 250px !important;
    }

    .bioForTheProject {
        font-size: 24px !important;
        width: 21rem !important;
    }

    .codeDiv {
        width: 20rem !important
    }
    
    .whatsNext {
        font-size: 22px !important;
    }
}


/* -------------------------------------------iphoneX 375 by 812 -------------------------------------------------- */
@media (min-width: 375px) and (height: 812px) {
    .ProjectMain {
        background-repeat: no-repeat;
        background-size: 1100px 1300px !important;
        overflow-x: hidden !important;
        overflow-y: scroll !important;
    }
    
    .navInProjects  {
        margin-left: 20rem !important;
        margin-top: .5rem !important;
        position: absolute !important;
    }
    
    .styleProj {
        margin-left: 2.5rem !important;
        margin-top: 5rem !important;
        margin-bottom: 2rem !important;
        width: 20rem !important;
    }

    .projectsSec {
        overflow-y: scroll !important;
        overflow-x: hidden !important;
        height: 40rem !important;
        margin-top: -4rem;
        width: 24rem !important;

    }

    .projectDiv {
        justify-content: center !important;
    }

    .allProjects {
        margin-left: 1.5rem !important;
        grid-gap: 3.5rem !important;
    }
    
    .appScreenshots {
        border-radius: 1rem !important;
        width: 330px !important;
        height: 250px !important;
    }

    .bioForTheProject {
        font-size: 24px !important;
        width: 21rem !important;
    }

    .codeDiv {
        width: 20rem !important
    }
    
    .whatsNext {
        font-size: 22px !important;
    }
}

/* ---------------------iphoneX 6/7/8 PLUS [414 by 736] + PIXEL2[411 by 731]  + PIXEL2XL [411 by 823]---------------------- */
@media (min-width: 400px) and (max-height: 830px) {
    .ProjectMain {
        background-repeat: no-repeat;
        background-size: 1100px 1200px !important;
        overflow-x: hidden !important;
        overflow-y: scroll !important;
    }
    
    .navInProjects  {
        margin-left: 22rem !important;
        margin-top: .5rem !important;
        position: absolute !important;
    }
    
    .styleProj {
        margin-left: 3.5rem !important;
        margin-top: 6rem !important;
        margin-bottom: 2rem !important;
        width: 20rem !important;
    }

    .projectsSec {
        overflow-y: scroll !important;
        overflow-x: hidden !important;
        height: 32rem !important;
        margin-top: -2rem;
        width: 26rem !important;
    }
    
    .allProjects {
        margin-left: 1rem !important;
        grid-gap: 3.5rem !important;
    }
    
    .appScreenshots {
        border-radius: 1rem !important;
        width: 380px !important;
        height: 310px !important;
    }
    
    .bioForTheProject {
        width: 24rem !important;
        font-size: 24px !important;
    }
    
    .whatsNext {
        width: 24rem !important;
        font-size: 24px !important;
    }

    .codeDiv {
        width: 22rem !important
    }
}


/* ------------------------------------------------------ iPad ----------------------------------------- */
@media (min-width: 768px) and (min-height: 1024px) {
    .ProjectMain {
        background-repeat: no-repeat;
        background-size: 1200px 1200px !important;
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }
    
    .navInProjects  {
        margin-left: 44rem !important;
        margin-top: .5rem !important;
        position: absolute !important;
    }
    
    .styleProj {
        margin-left: 13rem !important;
        margin-top: 8rem !important;
        margin-bottom: 2rem !important;
        width: 25rem !important;
        font-size: 40px !important;
        margin-bottom: 3rem !important;
    }

    .projectsSec {
        overflow-y: scroll !important;
        overflow-x: hidden !important;
        height: 44rem !important;
        width: 60rem !important;
        margin-top: -4rem !important;
    }

    .projectDiv {
        width: 65rem !important;
        margin-left: -12rem;
    }
    
    .allProjects {
        margin-left: 21.8rem !important;
        grid-gap: 3rem !important;
    }

    .appScreenshots {
        border-radius: 1rem !important;
        width: 450px !important;
        height: 300px !important;
    }
    
    .bioForTheProject {
        width: 29rem !important;
        font-size: 20px !important;
    }
    
    .whatsNext {
        width: 29rem !important;
        font-size: 22px !important;
    }

    .codeDiv {
        width: 29rem !important;
    }
}

 /* ----------------------------------------- IPAD LANDSCAPE VIEW- Responsiveness ----------------------*/
 @media (min-width: 1024px) and (max-height: 850px) {
    .ProjectMain {
        background-repeat: no-repeat;
        background-size: 1700px 2100px !important;
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }
    
    .navInProjects  {
        margin-left: 8.4rem !important;
        margin-top: 1.5rem !important;
        position: absolute !important;
    }
    
    .styleProj {
        margin-left: 19rem !important;
        margin-top: 8rem !important;
        margin-bottom: 2rem !important;
        width: 25rem !important;
        font-size: 40px !important;
        margin-bottom: 3rem !important;
    }

    .projectsSec {
        overflow-y: scroll !important;
        overflow-x: hidden !important;
        height: 34rem !important;
        margin-top: -2rem !important;
        width: 60rem !important;

    }

    .projectDiv {
        width: 30rem !important;
    }
    
    .allProjects {
        margin-left: 10rem !important;
        grid-gap: 3.5rem !important;
    }

    .codeDiv {
        width: 40rem !important;
    }

    .appScreenshots {
        border-radius: 1rem !important;
        width: 700px !important;
        height: 450px !important;
    }
    
    .projectName.top {
        font-size: 30px !important;
    }
    
    
    .appLink {
        font-size: 24px !important;
    }
    
    .checkOutTheCode {
        font-size: 24px !important;
    }
    
    .bioForTheProject {
        width: 45rem !important;
        font-size: 30px !important;
    }
    
    .whatsNext {
        width: 45rem !important;
        font-size: 26px !important;
    }
}

/* ------------------------------------------iPad PRO RESPONSIVENESS REG LAYOUT 1366 height---------------------- */
@media (min-width: 1024px) and (min-height: 1365px) {
    .ProjectMain {
        background-repeat: no-repeat;
        background-size: 1700px 2100px !important;
        overflow-x: hidden !important;
        overflow-y: scroll !important;
    }
    
    .navInProjects  {
        margin-left: 8.2rem !important;
        margin-top: 1.5rem !important;
        position: absolute !important;
    }
    
    .styleProj {
        margin-left: 19rem !important;
        margin-top: 8rem !important;
        margin-bottom: 2rem !important;
        width: 25rem !important;
        font-size: 40px !important;
        margin-bottom: 3rem !important;
    }

    .projectsSec {
        overflow-y: scroll !important;
        height: 58rem !important;
        margin-top: -10rem;

    }

    .projectDiv {
        width: 30rem;
    }
    
    .allProjects {
        margin-left: 22rem !important;
        grid-gap: 3.5rem !important;
    }
    
    .appScreenshots {
        border-radius: 1rem !important;
        width: 700px !important;
        height: 450px !important;
    }
    
    .projectName.top {
        font-size: 30px !important;
    }
    
    .appLink {
        font-size: 24px !important;
    }
    
    .checkOutTheCode {
        font-size: 24px !important;
    }
    
    .bioForTheProject {
        width: 45rem !important;
        font-size: 30px !important;
    }
    
    .whatsNext {
        width: 45rem !important;
        font-size: 26px !important;
    }
}

/* ---------------------------------------------- MacBookAir Responsiveness1 1280 by 800 ----------------------------------*/
@media (min-width: 1280px) and (max-height: 801px) {

    * {
        padding: 0;
        margin: 0;
    }
    
    .ProjectMain {
        background-size: 1400px 910px !important;
        overflow: hidden !important;
        background-color: #f9b203;
        height: 100vh !important;
        display: grid !important;
        background-repeat: no-repeat !important;
    }
    
    .navInProjects  {
        float: right;
        height: 40% !important;
        margin-left: 32rem !important;
        margin-top: 0.5rem !important;
        position: absolute !important;
    }
    
    .styleProj {
        color: #cb0000;
        margin-left: 3rem !important;
        margin-top: 8rem !important;
    }

    .projectsSec {
        display: flex !important;
        overflow-y: hidden !important;
        overflow-x: hidden !important;
        height: 38rem !important;
        margin-top: 2rem;
        width: 90rem !important;
    }
    
    
    .allProjects {
        margin-left: 6rem !important;
        padding-top: 2.4% !important;
        margin-top: -0.1rem !important;
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        grid-gap: 3rem !important;
        position: sticky !important;
        width: 80rem !important;
    }
    
    .appScreenshots {
        border-radius: 1rem !important; 
        width: 340px !important;
        height: 250px !important;
    }
    
    .bioForTheProject {
        width: 22rem !important;
        color: #ffffff;
        font-size: 14px !important;
    }
    
    
    .whatsNext {
        color: transparent;
        font-size: 14px !important;
        width: 22rem !important;
    }


    .appLink {
        font-size: 18px !important;
        width: 19rem !important;

    }

    .checkOutTheCode {
        font-size: 18px !important;
    }

    .appLink:hover {
        color: #ffffff !important;
        text-decoration: line-through #cb0000;

    }

    .checkOutTheCode:hover {
        color: #ffffff !important;
        text-decoration: line-through #cb0000;
    }

    .codeDiv {
        width: 15rem !important;
        justify-content: center !important;
        margin-left: 3.5rem !important;
    }
}



/* ---------------------------------------DESKTOP TOUCH WITH 950 HEIGHT Responsiveness ----------------------*/
@media (min-width: 1280px) and (min-height: 940px) {
    .ProjectMain {
        background-size: 1500px 1700px !important;
        overflow: hidden !important;
        background-repeat: no-repeat;
    }
    
    .navInProjects  {
        height: 40% !important;
        margin-top: 2.3rem !important;
        position: absolute !important;
        margin-left: 33rem !important;
    }
    
    .styleProj {
        margin-top: 10rem !important
    }
    
    .allProjects {
        margin-left: 4rem !important;
        padding-top: 2.4% !important;
        margin-top: -3rem !important;
    }

}




/* ------------------------------------------iPad PRO RESPONSIVENESS LANDSCAPE LAYOUT 1024 height---------------------- */
@media (min-width: 1365px) and (min-height: 1023px) {
    .ProjectMain {
        background-size: 1500px 1200px !important;
        background-repeat: no-repeat;
        overflow-x: hidden !important;
        overflow-y: visible !important;
    }

    .navInProjects {
        margin-left: 36rem !important;
        margin-top: 2rem !important;
        position: absolute !important;
    }

    .styleProj {
        margin-left: 30rem !important;
        margin-top: 12rem !important;
        margin-bottom: 2rem !important;
        width: 30rem !important;
        font-size: 46px !important;
        margin-bottom: 3rem !important;
    }

    .projectsSec {
        overflow-y: scroll !important;
        overflow-x: hidden !important;
        height: 42rem !important;
        width: 60rem !important;
        margin-top: -1rem;
        margin-left: 6.5rem;
    }

    .projectDiv {
        width: 60rem;
    }

    .allProjects {
        margin-left: 26rem !important;
        margin-top: 0.5rem !important;
        grid-gap: 3.5rem !important;
    }

    .codeDiv {
        width: 44rem !important;
    }
    
    .appScreenshots {
        border-radius: 1rem !important;
        width: 700px !important;
        height: 450px !important;
    }
    
    .projectName.top {
        font-size: 30px !important;
    }
    
    .appLink {
        font-size: 24px !important;
    }
    
    .checkOutTheCode {
        font-size: 24px !important;
    }
    
    .bioForTheProject {
        width: 44rem !important;
        font-size: 30px !important;
        padding-left: 0.5rem;
    }
    
    .whatsNext {
        width: 45rem !important;
        font-size: 22px !important;
    }
}


/* ---------------------------------------------- MacBookAir ResponsivenessMYMAC REGULAR----------------------------------*/
@media (min-width: 1440px) and (max-height: 740px) {
    .ProjectMain {
        background-size: 1500px 1000px !important;
        background-repeat: no-repeat;
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }
    
    .navInProjects  {
        height: 40% !important;
        margin-top: 0.5rem !important;
        position: absolute !important;
        margin-left: 40rem !important;
    }
    
    .styleProj {
        margin-top: 5rem !important;
        position: sticky !important;
    }

    .projectsSec {
        display: flex !important;
        overflow-y: hidden !important;
        overflow-x: hidden !important;
        height: 38rem !important;
        margin-top: 1rem;
        width: 90rem !important;
    }
    
    .allProjects {
        margin-left: 10rem !important;
        padding-top: 2% !important;
        margin-top: -0.1rem !important;
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        grid-gap: 3rem !important;
        position: sticky !important;
        width: 80rem !important;
        overflow: hidden !important;
    }
    
    .appScreenshots {
        border-radius: 1rem !important; 
        width: 360px !important;
        height: 220px !important;
    }
    
    .appScreenshots:hover {
        transform: scale(1.05) !important;
    }
}


/* ---------------------------------------------- MacBookAir ResponsivenessMYMAC EXPANDED----------------------------------*/
@media (min-width: 1440px) and (min-height: 750px) {
    .ProjectMain {
        background-size: 1500px 1000px !important;
        background-repeat: no-repeat !important;
        background-color: #f9b203;
        height: 100vh !important;
        display: grid !important;
        overflow: hidden !important;
    }
    
    .navInProjects  {
        height: 40% !important;
        margin-top: 0.8rem !important;
        position: absolute !important;
        margin-left: 40rem !important;
    }
    
    .styleProj {
        margin-top: 7.5rem !important;
        position: sticky !important;
    }

    .projectsSec {
        display: flex !important;
        overflow-y: hidden !important;
        overflow-x: hidden !important;
        height: 38rem !important;
        margin-top: 1rem;
        width: 90rem !important;
    }
    
    .allProjects {
        margin-left: 5.5rem !important;
        padding-top: 2.4% !important;
        margin-top: -0.1rem !important;
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        grid-gap: 3rem !important;
        position: sticky !important;
        width: 80rem !important;
    }

    .appScreenshots {
        border-radius: 1rem !important; 
        width: 380px !important;
        height: 250px !important;
    }
    
    .appScreenshots:hover {
        transform: scale(1.05) !important;
    }
}


/* ---------------------------------------------------DESKTOP WITH HIGHDPI Responsiveness 1440 by 900--------------------------------------------------*/
@media (min-width: 1440px) and (min-height: 800px) {

    .ProjectMain {
        background-size: 1500px 1000px !important;
        background-repeat: no-repeat !important;
        background-color: #f9b203;
        height: 100vh !important;
        display: grid !important;
        overflow: hidden !important;
    }
    
    .navInProjects  {
        height: 40% !important;
        margin-top: 2rem !important;
        position: absolute !important;
        margin-left: 42.1rem !important;
    }
    
    .styleProj {
        margin-top: 6rem !important;
        position: sticky !important;
    }
    
    .projectsSec {
        display: flex !important;
        overflow-y: hidden !important;
        overflow-x: hidden !important;
        height: 44rem !important;
        margin-top: 1rem;
        width: 90rem !important;
    }
    
    .allProjects {
        margin-left: 11rem !important;
        margin-top: -1rem !important;
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        grid-gap: 3rem !important;
        position: sticky !important;
        width: 80rem !important;
    }
}