* {
    padding: 0;
    margin: 0;
}

.ProjectMain {
    background-image: url('../assets/ProjectsBG4.png');
    background-size: 100%;
    background-color: #f9b203;
    /* background-repeat: none; */
    height: 100vh;
    /* width: 100vw; */
    display: grid;
    overflow: hidden;
}

.navInProjects  {
    float: right;
    height: 40% ;
    margin-left: 45rem;
    margin-top: 1.5rem
}

.styleProj {
    color: #cb0000;
    margin-left: 3rem;
    margin-top: 3%;
    font-style: italic;
    position: static;
}

.styleProj:hover {
    text-decoration: line-through #ffffff;
}

.portfolioHeading {
    color: #cb0000;
}

.portfolioHeading:hover {
    text-decoration: line-through #ffffff;
}

.projectsSec {
    display: flex;
}

.projectDiv {
    display: flex;
}

.allProjects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 3rem;
    margin-left: 16rem;
    padding-top: 2.4%;
    position: sticky;
}

.divForProjName {
    justify-content: center;
    align-content: center;

}

.projectName {
    align-content: center;
    text-align: center;
}

.checkOutTheCode {
    align-content: center;
    text-align: center;
}

.appLink {
    color: #cb0000;
    text-decoration: none;
    font-variant: small-caps;
    font-weight: 700;
}

.appLink:hover {
    text-decoration: line-through #ffffff;
    color: #cb0000;
}



.projectName.top {
    /* color: #ffffff; */
    color: #cb0000; 
    margin-top: 7%;
}

.projectName.top:hover {
    text-decoration: line-through #ffffff;
}


/* .projectName.bottom {
    color: #ffffff;
}

.projectName.bottom:hover {
    text-decoration: line-through #cb0000;
} */

.checkOutTheCode {
    align-content: center;
    text-align: center;
    color: #cb0000;
    text-decoration: none;
    font-variant: small-caps;
    font-weight: 700;
}

.checkOutTheCode:hover {
    text-decoration: line-through #ffffff;
    color: #cb0000;
}

.bioForTheProject {
    overflow-wrap: break-word;
    width: 21.8rem;
    color: #ffffff;
    font-variant: small-caps;
    font-weight: 700;
    font-size: 17px;
}

.bioForTheProject:hover {
    color: #cb0000;
}

.whatsNext {
    overflow-wrap: break-word;
    width: 21.8rem;
    padding-top: 1.5%;
    color: transparent;
    text-decoration: line-through #cb0000;
    font-variant: small-caps;
    font-weight: 700;
    
}

.whatsNext:hover {
    color: #ffffff;
    text-decoration: none;
}


.appScreenshots {
    border-radius: 1.5rem;
}

.appScreenshots:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253)!important;
    transition:transform 1.5s ease;
    transform: scale(1.2);
    flex-grow: 1;
    
}

.codeDiv {
    align-content: center;
    text-align: center;
    justify-content: space-between;
    padding: 2%;

}

